__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
.git/
.dockerignore
Dockerfile
env.dev
db.sqlite3
